web/index.html
<!DOCTYPE html>
<html>
  <head></head>
  <title>GoGlobal</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <body>
    <header class="nd-header">
      <div class="container visible-xs">
        <div class="nd-logo">
          <a href="#">
            <img src="images/logo.png" />
          </a>
        </div>
        <div class="nd-soc">
          <a href="#">
            <img src="images/soc-ig.png" />
          </a>
          <a href="#">
            <img src="images/soc-fb.png" />
          </a>
          <a href="#">
            <img src="images/soc-tw.png" />
          </a>
          <a href="#" class="nd-lang">EN</a>
        </div>
      </div>
      <div class="container hidden-xs">
        <div class="nd-logo">
          <a href="#">
            <img src="images/logo.png" />
          </a>
        </div>
        <div class="menu hidden-xs hidden-sm">
          <div class="menu-one">
            <a href="#about">Про проект</a>
          </div>
          <div class="menu-one">
            <a href="#why">для чого це</a>
          </div>
          <div class="menu-one">
            <a href="#charity">Благодійність</a>
          </div>
        </div>
        <div class="nd-soc">
          <a href="#">
            <img src="images/soc-ig.png" />
          </a>
          <a href="#">
            <img src="images/soc-fb.png" />
          </a>
          <a href="#">
            <img src="images/soc-tw.png" />
          </a>
        </div>
        <div class="nd-donate">
          <a href="#" data-popup="step1" class="btn to-popup">пожертвувати</a>
          <div class="nd-lang-wrap hidden-xs">
            <a href="#" class="nd-lang">EN</a>
          </div>
        </div>
      </div>
    </header>
    <section class="nd-land">
      <div class="container">
        <div class="nd-slider hidden-xs">
          <div class="nd-slider-item">
            <img src="images/slider1.jpeg" />
          </div>
          <div class="nd-slider-item">
            <img src="images/slider1.jpeg" />
          </div>
          <div class="nd-slider-item">
            <img src="images/slider1.jpeg" />
          </div>
        </div>
        <div class="nd-land-content">
          <div class="pre">GoGlobal powered by Global Office</div>
          <div class="s-heading">Хочеш змінити світ, надихай дітей!</div>
          <div class="divider"></div>
          <p>Ініціатива громадської організації Global Office, спрямована на популяризацію вивчення іноземних мов та волонтерського руху в Україні, сприяння міжкультурному діалогу та громадській дипломатії.</p>
          <a data-popup="step1" href="#" class="btn btn_bordered to-popup">долучитись</a>
          <a href="#about" class="btn btn_secondary">детальніше</a>
        </div>
      </div>
    </section>
    <section class="nd-about" id="about">
      <div class="container">
        <div class="s-heading">Про проект</div>
        <div class="nd-year-switch-wrap">
          <div class="nd-year-switch">
            <div class="status"></div>
            <div class="nd-year is-active">2016</div>
            <div class="nd-year">2017</div>
          </div>
        </div>
        <div class="nd-stats">
          <div class="nd-stats-one">
            <img src="images/icon-tent.svg" />
            <div data-first="6001" data-second="9000" class="nd-counter">9 000</div>
            <div class="name">дітей відвідали мовні&nbsp;табори</div>
          </div>
          <div class="nd-stats-one">
            <img src="images/icon-school.svg" />
            <div data-first="3201" data-second="6040" class="nd-counter">113</div>
            <div class="name">шкіл взяли участь у проекті</div>
          </div>
          <div class="nd-stats-one">
            <img src="images/icon-vol.svg" />
            <div data-first="404" data-second="506" class="nd-counter">320</div>
            <div class="name">волонтерів із
              <br />40 країн</div>
          </div>
          <div class="nd-stats-one">
            <img src="images/icon-city.svg" />
            <div data-first="300" data-second="505" class="nd-counter">212</div>
            <div class="name">міст та сіл із 24 регіонів</div>
          </div>
          <div class="nd-stats-one">
            <img src="images/icon-child.svg" />
            <div data-first="230" data-second="300" class="nd-counter">308</div>
            <div class="name">дітей з Донецької та Луганської областей взяли участь у GoCamp, який був організований на Київщині</div>
          </div>
        </div>
        <div class="nd-map">
          <div class="nd-map-info" id="mi1">
            <div class="heading">Покоління майбутніх лідерів</div>
            <p>GoCamp змінить життя цілого покоління українців. До 2020 року 1,5 млн школярів стануть учасниками національного проекту, у результаті якого вони отримають більше можливостей стати лідерами, будувати успішну кар’єру, спілкуватися без бар’єрів
              з усім світом та змінювати хід історії.</p>
          </div>
          <div class="nd-pins-wrap hidden-xs hidden-sm">
            <div class="halfs">
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <div class="map">
              <img src="images/map-desktop.png" />
              <div class="pin" id="pin1"></div>
              <div class="pin" id="pin2"></div>
              <div class="pin" id="pin3"></div>
              <div class="pin" id="pin4"></div>
              <div class="pin" id="pin5"></div>
              <div class="pin" id="pin6"></div>
              <div class="pin" id="pin7"></div>
              <div class="pin" id="pin-main"></div>
            </div>
          </div>
          <div class="nd-mobile-map visible-xs visible-sm">
            <img src="images/mobile-map.png" />
          </div>
          <div class="nd-map-info" id="mi2">
            <div class="heading">Європейський вектор</div>
            <p>Аби бути почутим у всьому світі, лише мовної компетентності недостатньо. Для того, аби на рівних комунікувати потрібно також вдосконалювати освітні підходи та культурні зв’язки.
              <br class="hidden-md" />За допомогою спеціально розробленої програми GoCamp діти отримають шанс відкрити для себе цілий світ та водночас стати послами України у світі.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="nd-why" id="why">
      <div class="container">
        <div class="s-heading">Для чого був створений GoGlobal</div>
        <div class="divider"></div>
        <div class="why-wrap">
          <div class="why-one">
            <div class="icon">
              <img src="images/icon-world.svg" />
            </div>
            <p>Популяризація володіння та використання іноземних мов.</p>
          </div>
          <div class="why-one">
            <div class="icon">
              <img src="images/icon-u.svg" />
            </div>
            <p>Нове покоління українців із цінностями вільного світу.</p>
          </div>
          <div class="why-one">
            <div class="icon">
              <img src="images/icon-angel.svg" />
            </div>
            <p>Громадська дипломатія.</p>
          </div>
          <div class="why-one">
            <div class="icon">
              <img src="images/icon-checkpoint.svg" />
            </div>
            <p>Підготовленість до викликів 21&nbsp;століття.</p>
          </div>
          <div class="why-one">
            <div class="icon">
              <img src="images/icon-volun.svg" />
            </div>
            <p>Популяризація волонтерського руху в Україні.</p>
          </div>
          <div class="why-one">
            <div class="icon">
              <img src="images/icon-puzzle.svg" />
            </div>
            <p>Внутрішня інтеграція.</p>
          </div>
          <div class="why-one">
            <div class="icon">
              <img src="images/icon-gov.svg" />
            </div>
            <p>Нова якість держслужби, де іноземна мова – обов’язкова.</p>
          </div>
          <div class="why-one">
            <div class="icon">
              <img src="images/icon-flag.svg" />
            </div>
            <p>Високий рівень викладання іноземних мов.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="nd-money">
      <div class="container">
        <div class="s-heading s-heading_small">200 грн – вартість участі одного учня у проекті GoCamp</div>
        <div class="subhead">Завдяки вашій підтримці, нам вдасться</div>
        <div class="nd-cards-wrap">
          <div class="nd-cards-one card_blue">
            <div class="card-info">
              <div class="numb">01</div>
              <div class="what">Організувати приїзд волонтерів зі всього світу в Україну</div>
            </div>
          </div>
          <div class="nd-cards-one card_green">
            <div class="card-info">
              <div class="numb">02</div>
              <div class="what">Забезпечити вчителів сучасною методологією викладання</div>
            </div>
          </div>
          <div class="nd-cards-one card_orange">
            <div class="card-info">
              <div class="numb">03</div>
              <div class="what">Провести навчальні тренінги для волонтерів</div>
            </div>
          </div>
          <div class="nd-cards-one card_red">
            <div class="card-info">
              <div class="numb">04</div>
              <div class="what">Дати дітям заговорити мовами світу: англійською, німецькою, французькою та іспанською</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="nd-takepart" id="charity">
      <div class="container">
        <div class="bg">
          <div class="nd-takepart-form-wrap">
            <div class="heading">Долучитись</div>
            <p>Щоб долучитись до благоднійного проекту, заповніть форму нижче</p>
            <form>
              <div class="input-wrap">
                <input type="text" placeholder="Мене звати" />
              </div>
              <div class="input-wrap">
                <input type="email" placeholder="Мій Email" />
              </div>
              <div class="input-wrap chb">
                <input type="checkbox" class="comp-check" id="comp1" />
                <label for="comp1">Пожертва від лиця компанії</label>
                <input type="text" placeholder="Company name" />
              </div>
              <div class="input-wrap button">
                <button data-popup="step2" class="btn to-popup">Продовжити</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="nd-photos">
      <div class="container">
        <div class="s-heading">Фотозвіт</div>
        <div class="divider"></div>
      </div>
      <div class="nd-slides">
        <div class="slide-one">
          <div class="wrap">
            <img src="http://placehold.it/1428x1000?text=1" />
            <div class="slide-info">
              <div class="title">GoCamp у середній загальноосвітній школі №2</div>
              <div class="date">21.01.2017</div>
            </div>
          </div>
        </div>
        <div class="slide-one video">
          <a href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity="data-lity" class="wrap">
            <img src="http://placehold.it/1428x1000?text=video" />
            <div class="slide-info">
              <div class="title">GoCamp у середній загальноосвітній школі №2</div>
              <div class="date">10:54</div>
            </div>
          </a>
        </div>
        <div class="slide-one video"></div>
      </div>
    </section>
    <section class="nd-support">
      <div class="container">
        <div class="s-heading">Нас підтримують</div>
        <div class="divider"></div>
        <div class="nd-sponsors">
          <a href="http://globaloffice.org.ua/uk/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/go.png" />
            </div>
            <div class="name">global office</div>
          </a>
          <a href="http://www.britishcouncil.org.ua/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/bc.png" />
            </div>
            <div class="name">British council</div>
          </a>
          <a href="http://mon.gov.ua/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/moin.png" />
            </div>
            <div class="name">Міністерство освіти і науки україни</div>
          </a>
          <a href="https://ukraine.usembassy.gov/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/us.png" />
            </div>
            <div class="name">Посольство CША в&nbsp;Україні</div>
          </a>
          <a href="http://zagoriy.foundation/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/frz.png" />
            </div>
            <div class="name">Фонд родини загорій</div>
          </a>
          <a href="http://www.president.gov.ua/ " class="nd-sponsors-one">
            <div class="logo">
              <img src="images/aotpou.png" />
            </div>
            <div class="name">Адміністрація президента України</div>
          </a>
          <a href="http://mfa.gov.ua/ua" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/mofaou.png" />
            </div>
            <div class="name">Міністерство закордонних справ України</div>
          </a>
          <a href="http://aiesec.ua/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/aiesec.png" />
            </div>
            <div class="name">IAESEC</div>
          </a>
          <a href="http://www.kyivstar.ua/kr-620/mm/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/kyivstar.png" />
            </div>
            <div class="name">Київстар</div>
          </a>
          <a href="http://www.irf.ua/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/vidrodzh.png" />
            </div>
            <div class="name">Міжнародний фонд відродження</div>
          </a>
          <a href="http://www.uz.gov.ua/ " class="nd-sponsors-one">
            <div class="logo">
              <img src="images/ukrzal.png" />
            </div>
            <div class="name">Укрзалізниця</div>
          </a>
          <a href="https://www.unv.org/" class="nd-sponsors-one">
            <div class="logo">
              <img src="images/unv.png" />
            </div>
            <div class="name">The united Nations volunteers</div>
          </a>
          <a href="http://media.1plus1.ua/" class="nd-sponsors-one t7">
            <div class="logo">
              <img src="images/1p1.png" />
            </div>
            <div class="name">1+1 Media</div>
          </a>
          <a href="http://lb.ua/ " class="nd-sponsors-one t7">
            <div class="logo">
              <img src="images/lb-ua.png" />
            </div>
            <div class="name">LB.ua</div>
          </a>
          <a href="http://www.segodnya.ua/" class="nd-sponsors-one t7">
            <div class="logo">
              <img src="images/segodnya.png" />
            </div>
            <div class="name">Сегодня.UA</div>
          </a>
          <a href="http://nv.ua/ukr.html" class="nd-sponsors-one t7">
            <div class="logo">
              <img src="images/novoevremia.png" />
            </div>
            <div class="name">Новое время</div>
          </a>
          <a href="http://www.pravda.com.ua/ " class="nd-sponsors-one t7">
            <div class="logo">
              <img src="images/ukrzal.png" />
            </div>
            <div class="name">Українська правда</div>
          </a>
          <a href="http://slm.ua/" class="nd-sponsors-one t7">
            <div class="logo">
              <img src="images/slm.png" />
            </div>
            <div class="name">Starlightmedia</div>
          </a>
          <a href="http://hromadske.ua/" class="nd-sponsors-one t7">
            <div class="logo">
              <img src="images/hromadske.png" />
            </div>
            <div class="name">Громадське радіо</div>
          </a>
        </div>
      </div>
    </section>
    <footer class="nd-footer">
      <div class="container hidden-xs">
        <div class="nd-logo hidden-xs hidden-sm">
          <a href="#">
            <img src="images/logo-footer.png" />
          </a>
          <div class="nd-copy">© 2016 GoGlobal</div>
        </div>
        <div class="nd-adress">Ярославський провулок 1/3, Київ, Україна
          <br />join@goglobal.com.ua
          <br />+380 (063) 122 50 33
          <br />
          <a href="https://goo.gl/maps/hLKD8m3y3GN2" target="_blank" class="showmap">
            <img src="images/pin.png" />Показати на мапi</a>
        </div>
        <div class="nd-footer-soc-donate">
          <div class="nd-footer-soc-wrap">
            <div class="nd-footer-soc">
              <a href="#" class="ig">
                <img src="images/footer-ig.png" />
              </a>
              <a href="#" class="fb">
                <img src="images/footer-fb.png" />
              </a>
              <a href="#" class="tw">
                <img src="images/footer-tw.png" />
              </a>
            </div>
          </div>
          <div class="nd-donate">
            <a data-popup="step1" href="#" class="btn to-popup">пожертвувати</a>
          </div>
        </div>
        <div class="nd-logo hidden-md">
          <a href="#">
            <img src="images/logo-footer.png" />
          </a>
          <div class="nd-copy visible-sm">© 2016 GoGlobal</div>
        </div>
        <div class="nd-perfectionist">
          <a href="#">
            <img src="images/perfect-logo.png" />
          </a>
        </div>
      </div>
      <div class="container visible-xs">
        <div class="nd-donate">
          <a data-popup="step1" href="#" class="btn to-popup">пожертвувати</a>
        </div>
        <div class="nd-logo">
          <a href="#">
            <img src="images/logo-footer.png" />
          </a>
        </div>
        <div class="nd-adress">Ярославський провулок 1/3, Київ, Україна
          <br />join@goglobal.com.ua
          <br />+380 (063) 122 50 33
          <br />
          <a href="https://goo.gl/maps/hLKD8m3y3GN2" target="_blank" class="showmap">
            <img src="images/pin.png" />Показати на мапi</a>
        </div>
        <div class="nd-soc">
          <a href="#">
            <img src="images/soc-ig.png" />
          </a>
          <a href="#">
            <img src="images/soc-fb.png" />
          </a>
          <a href="#">
            <img src="images/soc-tw.png" />
          </a>
        </div>
        <div class="nd-perfectionist">
          <a href="#">
            <img src="images/perf-mobile.png" />
          </a>
        </div>
        <div class="nd-copy hidden-sm hidden-md">© 2016 GoGlobal</div>
      </div>
    </footer>
    <div class="nd-popup-wrap">
      <div class="nd-popup" id="step1">
        <div class="close js-closepop"></div>
        <div class="step nd-takepart">
          <div class="nd-takepart-form-wrap">
            <div class="heading">Долучитись</div>
            <p>Щоб долучитись до благоднійного проекту, заповніть форму нижче</p>
            <form>
              <div class="input-wrap">
                <input type="text" placeholder="Мене звати" />
              </div>
              <div class="input-wrap">
                <input type="email" placeholder="Мій Email" />
              </div>
              <div class="input-wrap chb">
                <input type="checkbox" class="comp-check" id="comp2" />
                <label for="comp2">Пожертва від лиця компанії</label>
                <input type="text" placeholder="Company name" />
              </div>
              <div class="input-wrap button">
                <button data-popup="step2" class="btn to-popup">Продовжити</button>
              </div>
            </form>
          </div>
        </div>
        <div class="status">
          <div class="dot is-active"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="nd-popup" id="step2">
        <div class="close js-closepop"></div>
        <div class="step nd-takepart">
          <div class="nd-takepart-form-wrap card-wrap">
            <div class="heading">Сума допомоги</div>
            <p>Виберіть тип платежу, чи може вас зацікавить помісячна допомога?</p>
            <form>
              <div class="nd-type-select">
                <div class="labels-wrap">
                  <input type="radio" name="summ" id="student" />
                  <label for="student" class="st">
                    <img src="images/student.svg" />
                    <span>Учень</span>
                  </label>
                  <input type="radio" name="summ" checked="checked" id="class" />
                  <label for="class" class="cl">
                    <img src="images/class.svg" />
                    <span>Клас</span>
                  </label>
                  <input type="radio" name="summ" id="school" />
                  <label for="school" class="sc">
                    <img src="images/school.svg" />
                    <span>Школа</span>
                  </label>
                </div>
              </div>
              <div class="input-wrap changeable can-change">
                <input type="text" VALUE="200 гривень" />
                <div class="change" id="js-change">Змінити</div>
              </div>
              <div class="input-wrap chb">
                <input type="checkbox" id="repeat" />
                <label for="repeat">Я бажаю жертувати кожен місяць</label>
              </div>
              <div class="input-wrap button">
                <button data-popup="step3" class="btn to-popup">Пожертувати</button>
              </div>
            </form>
          </div>
        </div>
        <div class="status">
          <div class="dot"></div>
          <div class="dot is-active"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="nd-popup" id="step3">
        <div class="close js-closepop"></div>
        <div class="step nd-takepart">
          <div class="nd-takepart-form-wrap card-wrap">
            <div class="heading">Долучитись</div>
            <p>Введіть номер вашої кредитної картки щоб виконати пожертву</p>
            <form>
              <div class="input-wrap card">
                <input type="text" placeholder="xxxx xxxx xxxx xxxx" />
              </div>
              <div class="input-wrap halfed">
                <div class="select-wrap">
                  <select>
                    <option selected="selected" disabled="disabled">MM</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                  </select>
                </div>
                <div class="select-wrap">
                  <select>
                    <option selected="selected" disabled="disabled">РР</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                  </select>
                </div>
              </div>
              <div class="input-wrap small">
                <input type="text" placeholder="CVC" />
              </div>
              <div class="input-wrap button">
                <button data-popup="step4" class="btn to-popup">Пожертувати</button>
              </div>
            </form>
          </div>
        </div>
        <div class="status">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot is-active"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="nd-popup" id="step4">
        <div class="close js-closepop"></div>
        <div class="step nd-takepart">
          <div class="nd-takepart-form-wrap">
            <div class="heading">Дякуємо!</div>
            <p>Кошти будут залучені на допомогу проектуGoGlobal. Поділись цим у соцмережах!Поширюй благодійність!</p>
            <div class="nd-sharewrap">
              <div class="radio-wrap">
                <input type="radio" name="share" id="simple" />
                <label for="simple">Я долучився до проекту GoGlobal</label>
              </div>
              <div class="radio-wrap">
                <input type="radio" name="share" id="number" />
                <label for="number">Я долучився до проекту GoGlobal та допоміг
                  <strong>40 дітям</strong> реалізувати свої мрії</label>
              </div>
              <div class="radio-wrap">
                <input type="radio" name="share" id="money" />
                <label for="money">Я пожертував
                  <strong>4000 грн.</strong> у&nbsp;GoGlobal та допоміг
                  <strong>40 дітям</strong> реалізувати свої мрії </label>
              </div>
            </div>
            <div class="sharebtns">
              <a href="#" class="nd-btn-share twitter">
                <img src="images/tw.png" />
                <span>Twitter</span>
              </a>
              <a href="#" class="nd-btn-share fb">
                <img src="images/fb.png" />
                <span>Facebook</span>
              </a>
              <a href="#" class="nd-btn-share vk">
                <img src="images/vk.svg" />
                <span>Вконтакті</span>
              </a>
              <a href="#" class="nd-btn-share email">
                <img src="images/email.png" />
                <span>Поштою</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>

haml/index.haml
!!! 5
%html
  %head
  %title GoGlobal
  %meta(charset="utf-8")
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    %header.nd-header
      .container.visible-xs
        .nd-logo
          %a(href="#")
            %img(src="images/logo.png")
        .nd-soc
          %a(href="#")
            %img(src="images/soc-ig.png")
          %a(href="#")
            %img(src="images/soc-fb.png")
          %a(href="#")
            %img(src="images/soc-tw.png")
          %a.nd-lang(href="#") EN
      .container.hidden-xs 
        .nd-logo
          %a(href="#")
            %img(src="images/logo.png")
        .menu.hidden-xs.hidden-sm
          .menu-one
            %a(href="#about") Про проект
          .menu-one
            %a(href="#why") для чого це
          .menu-one
            %a(href="#charity") Благодійність
        -# .nd-soc-donate
        .nd-soc
          %a(href="#")
            %img(src="images/soc-ig.png")
          %a(href="#")
            %img(src="images/soc-fb.png")
          %a(href="#")
            %img(src="images/soc-tw.png")
        .nd-donate
          %a.btn.to-popup(href="#" data-popup="step1") пожертвувати
          .nd-lang-wrap.hidden-xs
            %a.nd-lang(href="#") EN
    %section.nd-land
      .container
        .nd-slider.hidden-xs
          .nd-slider-item
            %img(src="images/slider1.jpeg")
          .nd-slider-item
            %img(src="images/slider1.jpeg")
          .nd-slider-item
            %img(src="images/slider1.jpeg")
        .nd-land-content
          .pre
            GoGlobal powered by Global Office
          .s-heading
            Хочеш змінити світ, надихай дітей!
          .divider
          %p Ініціатива громадської організації Global Office, спрямована на популяризацію вивчення іноземних мов та волонтерського руху в Україні, сприяння міжкультурному діалогу та громадській дипломатії.
          %a.btn.btn_bordered.to-popup(data-popup="step1" href="#") долучитись
          %a.btn.btn_secondary(href="#about") детальніше
    %section.nd-about#about
      .container
        .s-heading Про проект
        .nd-year-switch-wrap
          .nd-year-switch
            .status
            .nd-year.is-active
              2016
            .nd-year
              2017
        .nd-stats
          .nd-stats-one
            %img(src="images/icon-tent.svg")
            .nd-counter(data-first="6001" data-second="9000") 9 000
            .name  дітей відвідали мовні&nbsp;табори
          .nd-stats-one
            %img(src="images/icon-school.svg")
            .nd-counter(data-first="3201" data-second="6040") 113
            .name  шкіл взяли участь у проекті
          .nd-stats-one
            %img(src="images/icon-vol.svg")
            .nd-counter(data-first="404" data-second="506") 320
            .name  
              волонтерів із 
              %br/
              40 країн
          .nd-stats-one
            %img(src="images/icon-city.svg")
            .nd-counter(data-first="300" data-second="505") 212
            .name  міст та сіл із 24 регіонів
          .nd-stats-one
            %img(src="images/icon-child.svg")
            .nd-counter(data-first="230" data-second="300") 308
            .name  дітей з Донецької та Луганської областей взяли участь у GoCamp, який був організований на Київщині
        .nd-map
          .nd-map-info#mi1
            .heading Покоління майбутніх  лідерів
            %p GoCamp змінить життя цілого покоління українців. До 2020 року 1,5 млн школярів стануть учасниками національного проекту, у результаті якого вони отримають більше можливостей стати лідерами, будувати успішну кар’єру, спілкуватися без бар’єрів з усім світом та змінювати хід історії. 
          .nd-pins-wrap.hidden-xs.hidden-sm
            .halfs
              .left
              .right
            .map
              %img(src="images/map-desktop.png")
              .pin#pin1
              .pin#pin2
              .pin#pin3
              .pin#pin4
              .pin#pin5
              .pin#pin6
              .pin#pin7
              .pin#pin-main
          .nd-mobile-map.visible-xs.visible-sm
            %img(src="images/mobile-map.png")

          .nd-map-info#mi2
            .heading Європейський вектор
            %p 
              Аби бути почутим у всьому світі, лише мовної компетентності недостатньо. Для того, аби на рівних комунікувати потрібно також вдосконалювати освітні підходи та культурні зв’язки. 
              %br.hidden-md/
              За допомогою спеціально розробленої програми GoCamp діти отримають шанс відкрити для себе цілий світ та водночас стати послами України у світі.
    %section.nd-why#why
      .container
        .s-heading  
          Для чого був створений GoGlobal
        .divider
        .why-wrap
          .why-one
            .icon
              %img(src="images/icon-world.svg")
            %p Популяризація володіння та використання іноземних мов.
          .why-one  
            .icon
              %img(src="images/icon-u.svg")
            %p Нове покоління українців із цінностями вільного світу.
          .why-one  
            .icon
              %img(src="images/icon-angel.svg")
            %p Громадська дипломатія.
          .why-one  
            .icon
              %img(src="images/icon-checkpoint.svg")
            %p Підготовленість до викликів 21&nbsp;століття.
          .why-one  
            .icon
              %img(src="images/icon-volun.svg")
            %p Популяризація волонтерського руху в Україні.
          .why-one  
            .icon
              %img(src="images/icon-puzzle.svg")
            %p Внутрішня інтеграція.
          .why-one  
            .icon
              %img(src="images/icon-gov.svg")
            %p Нова якість держслужби, де іноземна мова – обов’язкова.
          .why-one  
            .icon
              %img(src="images/icon-flag.svg")
            %p Високий рівень викладання іноземних мов.
    %section.nd-money
      .container
        .s-heading.s-heading_small
          200 грн – вартість участі одного учня у проекті GoCamp
        .subhead 
          Завдяки вашій підтримці, нам вдасться
        .nd-cards-wrap
          .nd-cards-one.card_blue
            .card-info
              .numb  01
              .what Організувати приїзд волонтерів зі всього світу в Україну
          .nd-cards-one.card_green
            .card-info
              .numb  02
              .what Забезпечити вчителів сучасною методологією викладання
            
          .nd-cards-one.card_orange
            .card-info
              .numb  03
              .what Провести навчальні тренінги для волонтерів

            
          .nd-cards-one.card_red
            .card-info
              .numb  04
              .what Дати дітям заговорити мовами світу: англійською, німецькою, французькою та іспанською        
    %section.nd-takepart#charity
      .container
        .bg
          .nd-takepart-form-wrap
            .heading Долучитись
            %p Щоб долучитись до благоднійного проекту, заповніть форму нижче
            %form
              .input-wrap
                %input(type="text" placeholder="Мене звати")
              .input-wrap
                %input(type="email" placeholder="Мій Email")
              -# .input-wrap.money
              -#   %input(type="text" placeholder="00.00")
              .input-wrap.chb
                %input.comp-check#comp1(type="checkbox")
                %label(for="comp1") Пожертва від лиця компанії
                %input(type="text" placeholder="Company name")
              .input-wrap.button
                %button.btn.to-popup(data-popup="step2") Продовжити
    %section.nd-photos
      .container
        .s-heading  
          Фотозвіт
        .divider
      .nd-slides
        .slide-one
          .wrap
            %img(src="http://placehold.it/1428x1000?text=1")
            .slide-info
              .title GoCamp у середній загальноосвітній школі №2
              .date 21.01.2017
        .slide-one.video
          %a.wrap(href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity="data-lity")
            %img(src="http://placehold.it/1428x1000?text=video")
            .slide-info
              .title GoCamp у середній загальноосвітній школі №2
              .date 10:54

        .slide-one.video
          

    %section.nd-support
      .container    
        .s-heading  
          Нас підтримують
        .divider
        .nd-sponsors
          %a.nd-sponsors-one(href="http://globaloffice.org.ua/uk/")
            .logo
              %img(src="images/go.png")
            .name global office
          %a.nd-sponsors-one(href="http://www.britishcouncil.org.ua/")
            .logo
              %img(src="images/bc.png")
            .name British council
          %a.nd-sponsors-one(href="http://mon.gov.ua/")
            .logo
              %img(src="images/moin.png")
            .name Міністерство освіти і науки україни
          %a.nd-sponsors-one(href="https://ukraine.usembassy.gov/")
            .logo
              %img(src="images/us.png")
            .name Посольство CША в&nbsp;Україні
          %a.nd-sponsors-one(href="http://zagoriy.foundation/")
            .logo
              %img(src="images/frz.png")
            .name Фонд родини загорій
          %a.nd-sponsors-one(href="http://www.president.gov.ua/ ")
            .logo
              %img(src="images/aotpou.png")
            .name Адміністрація президента України
          
          -# .nd-showmore-wrap
          -#   %a.nd-showmore(href="#")
          -#     %img(src="images/showmore.svg")
          -#     %span показати бiльше
          

          %a.nd-sponsors-one(href="http://mfa.gov.ua/ua")
            .logo
              %img(src="images/mofaou.png")
            .name Міністерство закордонних справ України
          %a.nd-sponsors-one(href="http://aiesec.ua/")
            .logo
              %img(src="images/aiesec.png")
            .name IAESEC
          %a.nd-sponsors-one(href="http://www.kyivstar.ua/kr-620/mm/")
            .logo
              %img(src="images/kyivstar.png")
            .name Київстар
          %a.nd-sponsors-one(href="http://www.irf.ua/")
            .logo
              %img(src="images/vidrodzh.png")
            .name Міжнародний фонд відродження
          %a.nd-sponsors-one(href="http://www.uz.gov.ua/ ")
            .logo
              %img(src="images/ukrzal.png")
            .name Укрзалізниця
          %a.nd-sponsors-one(href="https://www.unv.org/")
            .logo
              %img(src="images/unv.png")
            .name The united Nations volunteers

          %a.nd-sponsors-one.t7(href="http://media.1plus1.ua/")
            .logo
              %img(src="images/1p1.png")
            .name 1+1 Media
          %a.nd-sponsors-one.t7(href="http://lb.ua/ ")
            .logo
              %img(src="images/lb-ua.png")
            .name LB.ua
          %a.nd-sponsors-one.t7(href="http://www.segodnya.ua/")
            .logo
              %img(src="images/segodnya.png")
            .name Сегодня.UA
          %a.nd-sponsors-one.t7(href="http://nv.ua/ukr.html")
            .logo
              %img(src="images/novoevremia.png")
            .name Новое время
          %a.nd-sponsors-one.t7(href="http://www.pravda.com.ua/ ")
            .logo
              %img(src="images/ukrzal.png")
            .name Українська правда
          %a.nd-sponsors-one.t7(href="http://slm.ua/")
            .logo
              %img(src="images/slm.png")
            .name Starlightmedia
          %a.nd-sponsors-one.t7(href="http://hromadske.ua/")
            .logo
              %img(src="images/hromadske.png")
            .name Громадське радіо

    
    %footer.nd-footer
      .container.hidden-xs
        .nd-logo.hidden-xs.hidden-sm
          %a(href="#")
            %img(src="images/logo-footer.png")
          .nd-copy
            © 2016 GoGlobal
        .nd-adress
          Ярославський провулок 1/3, Київ, Україна
          %br/
          join@goglobal.com.ua
          %br/
          +380 (063) 122 50 33
          %br/
          %a.showmap(href="https://goo.gl/maps/hLKD8m3y3GN2" target="_blank")
            %img(src="images/pin.png")
            Показати на мапi
        .nd-footer-soc-donate
          .nd-footer-soc-wrap
            .nd-footer-soc
              %a.ig(href="#")
                %img(src="images/footer-ig.png")
              %a.fb(href="#")
                %img(src="images/footer-fb.png")
              %a.tw(href="#")
                %img(src="images/footer-tw.png")
          .nd-donate
            %a.btn.to-popup(data-popup="step1" href="#") пожертвувати
        .nd-logo.hidden-md
          %a(href="#")
            %img(src="images/logo-footer.png")
          .nd-copy.visible-sm
            © 2016 GoGlobal
        .nd-perfectionist
          %a(href="#") 
            %img(src="images/perfect-logo.png")
      .container.visible-xs
        .nd-donate
          %a.btn.to-popup(data-popup="step1" href="#") пожертвувати
        .nd-logo
          %a(href="#")
            %img(src="images/logo-footer.png")
        .nd-adress
          Ярославський провулок 1/3, Київ, Україна
          %br/
          join@goglobal.com.ua
          %br/
          +380 (063) 122 50 33
          %br/
          %a.showmap(href="https://goo.gl/maps/hLKD8m3y3GN2" target="_blank")
            %img(src="images/pin.png")
            Показати на мапi
        .nd-soc
          %a(href="#")
            %img(src="images/soc-ig.png")
          %a(href="#")
            %img(src="images/soc-fb.png")
          %a(href="#")
            %img(src="images/soc-tw.png")
        .nd-perfectionist
          %a(href="#") 
            %img(src="images/perf-mobile.png")
        .nd-copy.hidden-sm.hidden-md
          © 2016 GoGlobal

    .nd-popup-wrap
      .nd-popup#step1
        .close.js-closepop
        .step.nd-takepart
          .nd-takepart-form-wrap
            .heading Долучитись
            %p Щоб долучитись до благоднійного проекту, заповніть форму нижче
            %form
              .input-wrap
                %input(type="text" placeholder="Мене звати")
              .input-wrap
                %input(type="email" placeholder="Мій Email")
              -# .input-wrap.money
              -#   %input(type="text" placeholder="00.00")
              .input-wrap.chb
                %input.comp-check#comp2(type="checkbox")
                %label(for="comp2") Пожертва від лиця компанії
                %input(type="text" placeholder="Company name")
              .input-wrap.button
                %button.btn.to-popup(data-popup="step2") Продовжити
        .status
          .dot.is-active
          .dot
          .dot
          .dot
      .nd-popup#step2
        .close.js-closepop
        .step.nd-takepart
          .nd-takepart-form-wrap.card-wrap
            .heading Сума допомоги
            %p Виберіть тип платежу, чи може вас зацікавить помісячна допомога?
            %form
              .nd-type-select
                .labels-wrap
                  %input#student(type="radio" name="summ")
                  %label.st(for="student")
                    %img(src="images/student.svg")
                    %span Учень
                  %input#class(type="radio" name="summ" checked="checked")
                  %label.cl(for="class")
                    %img(src="images/class.svg")
                    %span Клас
                  %input#school(type="radio" name="summ")
                  %label.sc(for="school")
                    %img(src="images/school.svg")
                    %span Школа
              .input-wrap.changeable.can-change
                %input(type="text" VALUE="200 гривень")
                .change#js-change
                  Змінити
              .input-wrap.chb
                %input#repeat(type="checkbox")
                %label(for="repeat") Я бажаю жертувати кожен місяць

              .input-wrap.button
                %button.btn.to-popup(data-popup="step3") Пожертувати
        .status
          .dot
          .dot.is-active
          .dot
          .dot
      .nd-popup#step3
        .close.js-closepop
        .step.nd-takepart
          .nd-takepart-form-wrap.card-wrap
            .heading Долучитись
            %p Введіть номер вашої кредитної картки щоб виконати пожертву
            %form
              .input-wrap.card
                %input(type="text" placeholder="xxxx xxxx xxxx xxxx")
              .input-wrap.halfed
                .select-wrap
                  %select()
                    %option(selected="selected" disabled="disabled") MM
                    %option 01
                    %option 02
                    %option 03
                    %option 04
                .select-wrap
                  %select()
                    %option(selected="selected" disabled="disabled") РР
                    %option 01
                    %option 02
                    %option 03
                    %option 04
              .input-wrap.small
                %input(type="text" placeholder="CVC")
              .input-wrap.button
                %button.btn.to-popup(data-popup="step4") Пожертувати
        .status
          .dot
          .dot
          .dot.is-active
          .dot
      .nd-popup#step4
        .close.js-closepop
        .step.nd-takepart
          .nd-takepart-form-wrap
            .heading Дякуємо!
            %p Кошти будут залучені на допомогу проектуGoGlobal. Поділись цим у соцмережах!Поширюй благодійність!
            .nd-sharewrap
              .radio-wrap 
                %input(type="radio" name="share" id="simple")
                %label(for="simple") Я долучився до проекту GoGlobal
              .radio-wrap 
                %input(type="radio" name="share" id="number")
                %label(for="number") 
                  Я долучився до проекту GoGlobal та допоміг 
                  %strong 40 дітям 
                   реалізувати свої мрії
              .radio-wrap 
                %input(type="radio" name="share" id="money")
                %label(for="money") 
                  Я пожертував 
                  %strong 4000 грн. 
                   у&nbsp;GoGlobal та допоміг 
                  %strong 40 дітям 
                   реалізувати свої мрії 
            .sharebtns 
              %a.nd-btn-share.twitter(href="#")
                %img(src="images/tw.png")
                %span Twitter
              %a.nd-btn-share.fb(href="#")
                %img(src="images/fb.png")
                %span Facebook
              %a.nd-btn-share.vk(href="#")
                %img(src="images/vk.svg")
                %span Вконтакті
              %a.nd-btn-share.email(href="#")
                %img(src="images/email.png")
                %span Поштою


          

      
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    
     
